[submodule "thirdparty/mimalloc"]
	path = thirdparty/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "thirdparty/winim"]
	path = thirdparty/winim
	url = https://github.com/khchen/winim.git
[submodule "thirdparty/cr"]
	path = thirdparty/cr
	url = https://github.com/Tail-Wag-Games/cr.git
[submodule "thirdparty/sokol-nim"]
	path = thirdparty/sokol-nim
	url = https://github.com/Tail-Wag-Games/sokol-nim
[submodule "thirdparty/glslcc"]
	path = thirdparty/glslcc
	url = git@github.com:Tail-Wag-Games/glslcc.git
[submodule "thirdparty/cglm"]
	path = thirdparty/cglm
	url = git@github.com:Tail-Wag-Games/cglm.git
[submodule "thirdparty/FastNoiseLite"]
	path = thirdparty/FastNoiseLite
	url = git@github.com:zacharycarter/FastNoiseLite.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = git@github.com:Tail-Wag-Games/stb.git
	
